@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Header styling*/
header {
  text-align: center;
  height: 92vh;
  background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(0, 0, 0, 0.9)), url(landscape-975091_1920.jpg) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgba(0, 0, 0, 0.575);
  font-size: 10vw;
  letter-spacing: 30px;
  font-family: 'Megrim', cursive;
}

.hidden{
  display: none;
}

/* Navbar styling starts here! */
nav {
  background: rgb(5, 5, 5);
  top: 0;
  width: 100%;
  transition: all 0.8s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav  a {
  padding: 20px 20px;
}

nav ul {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding: 30px 20px;
  display: inline-block;
  color: rgb(160, 160, 160);
  background-color: inherit;
  border: none;
  font-size: 20px;
  transition: all 0.2s;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(83, 83, 83);
}


/* Styling for body and page content */
html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing:border-box;
}

h3 {
  font-family: 'Megrim', cursive;
}

.tab-content {
  max-width: 800px;
  margin: 100px auto;
  background: white;
  padding: 50px;
  margin-top: 150px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

/* About page */
#about {
  max-width: 800px;
  margin: 40px auto;
  margin-top: 60px;
  background: white;
  padding: 50px;
  padding-top: 120px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.5s;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}


/* Gallery styles starts riiight here */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0
}

.column {
  float: right;
  flex: 50%;
  max-width: 25%;
  
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row > .column {
  padding: 0 8px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

